
# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]

# ----------------------
# Virtual Environment
# ----------------------
venv/
.env

# ----------------------
# Flask
# ----------------------
instance/

# ----------------------
# IDE / Editor
# ----------------------
.idea/
.vscode/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db
